@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

li {
  list-style: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.title {
  color: #111518;
}

.text {
  color: #b9b9b9;
}

.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
    width: 768px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
    padding: 0 15px;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
}

.header {
  z-index: 3;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  background: #ffffff;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

.navigation {
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.231;
  letter-spacing: 0.04em;
  color: #111518;
}
.logo .under-logo {
  text-align: center;
  font-weight: 700;
  font-size: 5px;
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-top: 4px;
}

.button-tablet {
  display: none;
}

.navigation-list-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover, .navigation-list-link:focus {
  color: #ff6b09;
}

.navigation-list-link-active {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03;
  color: #ff6b09;
}

@media screen and (min-width: 320px) {
  .header {
    width: 320px;
    padding: 0 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation .logo {
    width: 80px;
    height: 29px;
  }
  .navigation .logo .logo-svg {
    width: 14px;
    height: 19px;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: auto;
    background-color: transparent;
  }
  .menu-button .icon-svg {
    z-index: 4;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button .icon-cross {
    display: none;
    fill: #ffffff;
  }

  .menu-conteiner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 568px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-conteiner .navigation-list {
    margin-left: 20px;
  }
  .menu-conteiner .navigation-list .navigation-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 320px) {
  .menu-conteiner .logo-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 29px;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.231;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 30px;
  }
  .menu-conteiner .logo-menu .logo-svg {
    width: 14px;
    height: 19px;
  }
  .menu-conteiner .logo-menu .under-logo-menu {
    text-align: center;
    font-weight: 700;
    font-size: 5px;
    line-height: 1.25;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-top: 4px;
  }
}
@media screen and (min-width: 320px) {
  .menu-conteiner .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    border: 2px solid #ff6b09;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-conteiner .button {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 320px) {
  .menu-conteiner.is-open {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(17, 21, 24, 0.9);
  }
  .menu-conteiner.is-open .navigation-list {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }

  .navigation .logo {
    width: 128px;
    height: 45px;
    font-size: 26px;
  }
  .navigation .logo .logo-svg {
    width: 22px;
    height: 30px;
  }
  .navigation .logo .under-logo {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
  .navigation .logo .under-logo .under-logo-orange {
    color: #ff6b09;
  }
  .navigation .button-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    border: 2px solid #ff6b09;
    margin-left: 239px;
    margin-right: 40px;
  }
  .navigation .menu-conteiner {
    width: 768px;
    height: 1024px;
  }
  .navigation .menu-conteiner .button {
    display: none;
  }
  .navigation .menu-conteiner .logo-menu {
    width: 128px;
    height: 45px;
    font-size: 26px;
  }
  .navigation .menu-conteiner .logo-menu .under-logo-menu {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
  .navigation .menu-conteiner .logo-menu .under-logo-menu .under-logo-orange {
    color: #ff6b09;
  }
  .navigation .menu-conteiner.is-open {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(17, 21, 24, 0.9);
  }
  .navigation .menu-conteiner.is-open .navigation-list {
    display: block;
    text-align: start;
    width: 332px;
    margin-left: 218px;
  }

  .navigation-list-link {
    font-size: 26px;
  }

  .navigation-list-link-active {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .header {
    margin: auto;
    width: 1344px;
    padding: 0 15px;
    margin-top: 33.5px;
  }

  .logo {
    min-width: 128px;
  }

  .navigation .logo-menu,
.navigation .menu-button,
.navigation .button-tablet {
    display: none;
  }
  .navigation .menu-conteiner {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .navigation .menu-conteiner .button {
    display: flex;
    width: 336px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    color: #ff6b09;
    border: 2px solid #ff6b09;
  }

  .navigation-list {
    display: flex;
    width: 648px;
    margin-left: 144px;
    margin-right: 60px;
  }
  .navigation-list :not(:last-child) {
    margin-right: 40px;
  }
  .navigation-list .navigation-list-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0;
    color: #b9b9b9;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list .navigation-list-link:hover, .navigation-list .navigation-list-link:focus {
    color: #ff6b09;
  }
  .navigation-list .navigation-list-link-active {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}
.section-hero {
  background-color: #ffffff;
}

.hero-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-box {
  margin-bottom: 77px;
}

.hero-box::after {
  content: "";
  display: block;
  width: 208px;
  height: 177.5px;
  background-size: contain, contain;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 30px;
}
.desc > .desc-gray {
  color: #b9b9b9;
  font-weight: 500;
}
.desc > .desc-accent {
  color: #ff6b09;
}

.button-hero {
  display: block;
  width: 260px;
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  border: 2px solid #ff6b09;
  padding-bottom: 14px;
  padding-top: 14px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #ff6b09;
  color: #ffffff;
}

.quality {
  width: 146px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
}
.quality-item {
  display: flex;
  align-items: center;
  height: 60px;
}
.quality-icon {
  width: 58.82px;
  height: 60px;
}

@media screen and (max-width: 1343px) {
  .quality-icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .section-hero {
    padding-top: 50.47px;
    padding-bottom: 49.5px;
    background-image: url(/vector-mob.8f0a9df3.png);
    background-repeat: no-repeat;
    background-position: center bottom 270px;
  }

  .hero-container {
    width: 320px;
  }

  .hero-box::after {
    background-image: url("/background-front_mobile.1d2ad670.png"), url("/background-back_mobile.1d9e6fef.png");
  }

  .button-hero {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .hero-title {
    font-size: 20px;
    line-height: 1.36;
  }

  .quality-list {
    width: 216px;
    margin: 0 auto;
  }

  .quality-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-box::after {
    background-image: url("/background-front_mobile@2x.d14d8469.png"), url("/background-back_mobile@2x.81dc8dae.png");
  }
}
@media screen and (min-width: 768px) {
  .quality-list {
    display: flex;
  }

  .hero-container {
    position: relative;
  }

  .hero-box::after {
    position: absolute;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .section-hero {
    padding-top: 70px;
    padding-bottom: 50px;
    background-image: url(/vector-tab.26e03b79.png);
    background-repeat: no-repeat;
    background-position: center bottom 110px;
  }

  .hero-container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero-box {
    width: 332px;
    margin-bottom: 142.5px;
  }

  .hero-title {
    font-size: 26px;
    line-height: 1.3;
  }

  .hero-box::after {
    background-image: url("/background-front_tab.c97d3834.png"), url("/background-back_tab.385523d4.png");
    width: 375.75px;
    height: 320.64px;
    left: 352px;
    top: 13.44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1343px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1343px) and (min-resolution: 2dppx) {
  .hero-box::after {
    background-image: url("/background-front_tab@2x.5aad4b20.png"), url("/background-back_tab@2x.3db43315.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .quality-list {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1344px) {
  .section-hero {
    padding-top: 125px;
    padding-bottom: 130px;
    background-image: url(/vector1.f8e2af8f.png);
    background-repeat: no-repeat;
    background-position: center bottom 240px;
  }

  .hero-container {
    width: 1344px;
    padding: 0 15px;
  }

  .hero-box {
    width: 642px;
    margin-bottom: 241px;
  }

  .hero-title {
    font-size: 58px;
    line-height: 1.3;
  }

  .desc {
    font-size: 20px;
    line-height: 1.65;
  }

  .button-hero {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 26px;
    padding-top: 27px;
  }

  .quality {
    width: 366px;
    font-size: 20px;
    line-height: 1.65;
    position: absolute;
    left: 82px;
  }
  .quality-item {
    position: relative;
    height: 102px;
  }
  .quality-icon {
    width: 100px;
    height: 102px;
  }

  .quality-item:not(:last-child) {
    margin-right: 348px;
  }

  .hero-box::after {
    background-image: url("/background-front.c0c2e12b.png"), url("/background-back.0527618d.png");
    width: 841.55px;
    height: 718.14px;
    left: 629.7px;
    top: -79.05px;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .hero-box::after {
    background-image: url("/background-front@2x.1c5836cf.png"), url("/background-back@2x.b4a0d649.png");
  }
}
.problem {
  background-color: #111518;
}
@media screen and (min-width: 1344px) {
  .problem .wrapper {
    padding: 50px 0 258px 0;
  }
}
.problem .problem-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 136%;
}
@media screen and (min-width: 768px) {
  .problem .problem-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .problem .problem-title {
    font-size: 46px;
  }
}
.problem .span-accent-color {
  color: #ff6b09;
}

.container-wrapper {
  z-index: 2;
  position: relative;
  height: 148px;
}
@media screen and (min-width: 768px) {
  .container-wrapper {
    height: 151.5px;
  }
}

.section {
  width: 100%;
  background-color: #fff;
}

.wrapper {
  height: 545px;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    height: 340px;
  }
}
@media screen and (min-width: 1344px) {
  .wrapper {
    height: 560px;
  }
}

.features-box {
  position: absolute;
  margin-top: -203px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .features-box {
    left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .features-box {
    margin-top: -200px;
    left: 0;
  }
}

.box-wrapper {
  height: 488px;
  position: absolute;
  left: 20px;
  margin-top: -340px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .box-wrapper {
    margin-top: -151.5px;
    width: 688px;
    height: 303px;
    left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .box-wrapper {
    margin-top: -212px;
    height: 362px;
    width: 1314px;
    left: 15px;
  }
}

.features__title {
  color: #ffffff;
  margin-top: 42px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 136%;
  max-width: 180px;
}
@media screen and (min-width: 768px) {
  .features__title {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1344px) {
  .features__title {
    display: none;
  }
}

.box-list {
  background-color: #ffffff;
  padding: 20px 14px 20px 30px;
  max-width: 280px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 688px;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1344px) {
  .box-list {
    max-width: 1314px;
    padding: 70px 0;
  }
}
@media screen and (min-width: 768px) {
  .box-list .box-list-item {
    width: 236px;
  }
}
@media screen and (min-width: 1344px) {
  .box-list .box-list-item {
    width: 356px;
    margin-right: 40px;
  }
}
.box-list .box-list-item__title {
  font-family: "Montserrat", sans-serif;
  color: #ff6b09;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
}
.box-list .box-list-item__title::before {
  content: "";
  background-color: #ff6b09;
  width: 12px;
  height: 1px;
  display: inline-block;
  margin-right: 6px;
}
@media screen and (min-width: 1344px) {
  .box-list .box-list-item__title::before {
    height: 2px;
  }
}
@media screen and (min-width: 1344px) {
  .box-list .box-list-item__title {
    font-size: 20px;
  }
}
.box-list .box-list-item__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1344px) {
  .box-list .box-list-item__text {
    font-size: 20px;
  }
}

.how-we-do-it {
  padding-top: 50px;
}
@media screen and (min-width: 1344px) {
  .how-we-do-it {
    padding-top: 132px;
  }
}

@media screen and (min-width: 320px) {
  .title.how {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .list.how-we-do .item {
    width: 280px;
    height: 280px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  }
  .list.how-we-do .item:nth-child(3) p {
    width: 257px;
  }
  .list.how-we-do .item:nth-child(4) p {
    width: 258px;
  }
  .list.how-we-do .item:nth-child(5) p {
    width: 258px;
  }
  .list.how-we-do .item:nth-child(6) {
    margin-bottom: 0;
  }
  .list.how-we-do .item:nth-child(6) p {
    width: 270px;
  }
  .list.how-we-do .item .link.for-card {
    width: 280px;
    height: 280px;
    display: block;
    padding: 30px 0 0 0;
  }
  .list.how-we-do .item svg {
    display: block;
    fill: #ff6b09;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .list.how-we-do .item h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.429;
    text-align: center;
    letter-spacing: 0.08em;
    color: #111518;
  }
  .list.how-we-do .item h3::after {
    content: "—";
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.649;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ff6b09;
    padding: 5px 0;
  }
  .list.how-we-do .item p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
  }

  .list.how-we-do .item:hover {
    background-color: #ff6b09;
  }
  .list.how-we-do .item:hover h3, .list.how-we-do .item:hover h3::after, .list.how-we-do .item:hover p {
    color: #ffffff;
  }
  .list.how-we-do .item:hover svg {
    fill: #ffffff;
  }

  .link.for-card:focus {
    background-color: #ff6b09;
  }
  .link.for-card:focus h3, .link.for-card:focus h3::after, .link.for-card:focus p {
    color: #ffffff;
  }
  .link.for-card:focus svg {
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .title.how {
    font-size: 26px;
  }

  .list.how-we-do {
    display: flex;
    flex-wrap: wrap;
  }
  .list.how-we-do .item {
    width: 334px;
    height: 334px;
    margin-bottom: 27px;
  }
  .list.how-we-do .item:nth-child(1) {
    margin-right: 20px;
  }
  .list.how-we-do .item:nth-child(1) p {
    width: 290px;
  }
  .list.how-we-do .item:nth-child(2) p {
    width: 293px;
  }
  .list.how-we-do .item:nth-child(3) {
    margin-right: 20px;
  }
  .list.how-we-do .item:nth-child(3) p {
    width: 306px;
  }
  .list.how-we-do .item:nth-child(4) p {
    width: 293px;
  }
  .list.how-we-do .item:nth-child(5) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .list.how-we-do .item:nth-child(5) p {
    width: 306px;
  }
  .list.how-we-do .item:nth-child(6) p {
    width: 293px;
  }
  .list.how-we-do .item .link.for-card {
    width: 334px;
    height: 334px;
    padding: 40px 0 0 0;
  }
  .list.how-we-do .item svg {
    margin-bottom: 30px;
  }
  .list.how-we-do .item h3::after {
    padding: 10px 0;
  }
}
@media screen and (min-width: 1344px) {
  .title.how {
    font-size: 46px;
    text-align: left;
    margin-bottom: 50px;
  }

  .list.how-we-do .item {
    width: 425px;
    height: 396px;
    margin-bottom: 20px;
  }
  .list.how-we-do .item:nth-child(1) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(2) {
    width: 424px;
    margin-right: 20px;
  }
  .list.how-we-do .item:nth-child(2) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(2) .link.for-card {
    width: 424px;
  }
  .list.how-we-do .item:nth-child(3) {
    margin-right: 0;
  }
  .list.how-we-do .item:nth-child(3) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(4) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .list.how-we-do .item:nth-child(4) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(5) {
    width: 424px;
    margin-bottom: 0;
  }
  .list.how-we-do .item:nth-child(5) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(5) .link.for-card {
    width: 424px;
  }
  .list.how-we-do .item:nth-child(6) {
    margin-bottom: 0;
  }
  .list.how-we-do .item:nth-child(6) p {
    width: 365px;
  }
  .list.how-we-do .item:nth-child(6) h3 {
    width: 365px;
    margin-right: auto;
    margin-left: auto;
  }
  .list.how-we-do .item:nth-child(6) h3 br {
    display: none;
  }
  .list.how-we-do .item .link.for-card {
    width: 425px;
    height: 396px;
  }
  .list.how-we-do .item h3 {
    font-size: 20px;
    line-height: 1.4;
  }
  .list.how-we-do .item h3::after {
    padding: 0 0;
  }
  .list.how-we-do .item p {
    font-size: 18px;
    line-height: 1.556;
  }
}
.program {
  z-index: 1;
  position: relative;
  background-color: #111518;
  padding: 120px 0 488px;
  overflow-x: hidden;
}
@media screen and (min-width: 1344px) {
  .program {
    padding-top: 120px;
  }
  .program::before {
    content: "";
    position: absolute;
    top: 278px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}
.program-img {
  position: absolute;
  opacity: 0.5;
  bottom: 40px;
  right: -56px;
  transform: translate(0, 100%);
  display: block;
}
@media screen and (min-width: 1344px) {
  .program-img {
    left: -183px;
  }
}
.program__title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media screen and (min-width: 1344px) {
  .program__title {
    font-size: 46px;
    line-height: 130%;
    text-align: start;
    margin-bottom: 100px;
  }
}
.program .program-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 105px;
}
@media screen and (min-width: 768px) {
  .program .program-list {
    padding-left: 145px;
  }
}
@media screen and (min-width: 1344px) {
  .program .program-list {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-top: 60px;
  }
}
.program .program-list::before {
  position: absolute;
  top: 48px;
  left: 88px;
  content: "";
  width: 1px;
  height: 1242px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program .program-list::before {
    height: 705px;
    left: 95px;
  }
}
@media screen and (min-width: 1344px) {
  .program .program-list::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .program .list-box-wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1344px) {
  .program .list-box-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1344px) {
  .program .program-list-box {
    display: flex;
    flex-direction: column;
  }
}
.program .program-list-box__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .program .program-list-box__title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .program .program-list-box__title {
    font-size: 30px;
    margin-top: 0;
  }
}
.program .program-list-box__title::before {
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .program .program-list-box__title::before {
    left: -55px;
  }
}
@media screen and (min-width: 1344px) {
  .program .program-list-box__title::before {
    width: 16px;
    height: 16px;
    left: 0;
    top: -60px;
  }
}
.program .program-list-box .program-list-box-item {
  display: block;
}
@media screen and (min-width: 768px) {
  .program .program-list-box .program-list-box-item {
    width: 176px;
  }
  .program .program-list-box .program-list-box-item:not(:last-child) {
    margin-right: 50px;
  }
}
.program .program-list-box .program-list-box-item__title {
  font-family: "Montserrat", sans-serif;
  color: #ff6b09;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.program .program-list-box .program-list-box-item__title::before {
  content: "";
  background-color: #ff6b09;
  width: 12px;
  height: 1px;
  display: inline-block;
  margin-right: 6px;
}
@media screen and (min-width: 1344px) {
  .program .program-list-box .program-list-box-item__title {
    font-size: 20px;
    margin-top: 25px;
  }
}
.program .program-list-box .program-list-box-item__text {
  font-family: "Montserrat", sans-serif;
  color: #b9b9b9;
  opacity: 0.5;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1344px) {
  .program .program-list-box .program-list-box-item__text {
    font-size: 18px;
  }
}
.program .program-list-box .last {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .program .program-list-box .last {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) {
  .teacher {
    padding: 269px 0 50px 0;
  }

  .title.coach {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  .teacher-photo {
    width: 243px;
  }

  .title.name {
    margin: 20.42px 0 10px 0;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
  }

  .list.experience {
    width: 280px;
    padding: 20px 0 0 0;
    border-top: 1px solid #b9b9b9;
  }
  .list.experience li {
    margin-bottom: 20px;
    display: flex;
  }
  .list.experience li:last-child {
    margin-top: -15px;
    margin-bottom: 5px;
  }
  .list.experience li:not(:last-child)::before {
    content: "";
    display: block;
    background-image: url(/marker.d5c7fb6b.svg);
    height: 14px;
    width: 17.08px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 27px;
  }
  .list.experience li:last-child::before {
    content: "—";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.649;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }
  .list.experience li p {
    display: block;
    width: 253px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1, 214;
    letter-spacing: 0.06em;
    color: #111518;
  }

  .text.experience {
    width: 279px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 15px;
  }
  .text.experience span {
    display: block;
  }
  .text.experience.last {
    margin-bottom: 10px;
  }

  .link.certificate {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: #ff6b09;
  }
}
@media screen and (min-width: 768px) {
  .teacher {
    padding: 150px 0 50px 0;
  }

  .title.coach {
    display: block;
    margin-bottom: 30px;
    font-size: 26px;
  }

  .teacher-photo {
    display: block;
    width: 243px;
    height: 305.58px;
    margin-right: 40px;
  }

  .teacher-content {
    display: flex;
    width: 100%;
  }

  .title.name {
    margin: 0 0 10px 0;
  }

  .list.experience {
    width: 401px;
  }
  .list.experience .tablet-br {
    display: block;
  }
  .list.experience li p {
    width: 375px;
  }

  .text.experience {
    width: 402px;
  }
  .text.experience .for-tablet {
    display: inline;
  }
}
@media screen and (min-width: 1344px) {
  .title.coach {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
  }

  .teacher-photo {
    width: 530px;
    height: 667px;
    margin-right: 31px;
  }

  .teacher-content {
    width: 642px;
  }

  .title.name {
    font-size: 30px;
    line-height: 1.233;
    margin: 0 0 15px 0;
  }

  .list.experience {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .list.experience li {
    margin-bottom: 30px;
  }
  .list.experience li p {
    width: 530px;
    font-size: 16px;
    line-height: 1.25;
  }
  .list.experience li:last-child {
    margin-bottom: 15px;
  }
  .list.experience li:not(:last-child)::before {
    content: "";
    width: 24.41px;
    height: 20px;
    padding-left: 59px;
  }
  .list.experience .tablet-br {
    display: inline;
  }

  .text.experience {
    width: 641px;
    font-size: 18px;
    line-height: 1.556;
  }
  .text.experience.last {
    margin-bottom: 20px;
  }

  .link.certificate {
    font-size: 18px;
    line-height: 1.556;
  }
}
.form-section {
  background-color: #111518;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 30px;
}
.form-title .desc-accent {
  color: #ff6b09;
}

.form-desc {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  margin-bottom: 30px;
}
.form-desc .desc-accent {
  color: #ff6b09;
}

.form-imput {
  width: 280px;
  height: 48px;
  padding-left: 28px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.form-imput + .form-imput {
  margin-bottom: 50px;
}

::placeholder {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.08em;
}

.registration-button {
  width: 260px;
  height: 48px;
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  border: 2px solid #ff6b09;
  padding-bottom: 14px;
  padding-top: 14px;
  background-color: transparent;
}

.registration-button:hover,
.registration-button:focus {
  background-color: #ff6b09;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .form-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(/form_bg_mobile.3a621d01.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .form-section {
    background-image: url(/form_bg_mobile@2x.9631afb6.png);
  }
}
@media screen and (max-width: 767px) {
  .form-container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .form-container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form-title {
    font-size: 26px;
    line-height: 1.3;
  }

  .form-desc {
    font-size: 13px;
    line-height: 1.21;
    margin-bottom: 40px;
  }

  .form-imput {
    width: 390px;
    height: 48px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .form-imput + .form-imput {
    margin-bottom: 31px;
  }

  .form-section {
    padding-top: 50px;
    padding-bottom: 71px;
    background-image: url(/form_bg_tab.ecb5fe3f.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .form-section {
    background-image: url(/form_bg_tab@2x.c7da54df.png);
  }
}
@media screen and (min-width: 1344px) {
  .form-section {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url(/form_bg.ff9dc6fe.png);
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .form-section {
    background-image: url(/form_bg@2x.b4d344dc.png);
  }
}
@media screen and (min-width: 1344px) {
  .form-container {
    width: 1344px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1344px) {
  .form-title {
    width: 1090px;
    font-size: 46px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1344px) {
  .form-desc {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1344px) {
  .form-imput {
    width: 478px;
    height: 70px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .form-imput + .form-imput {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1344px) {
  ::placeholder {
    font-size: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .registration-button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 26px;
    padding-top: 27px;
  }
}
.white-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  background-size: contain;
}

.dark-footer {
  padding-top: 21px;
  padding-bottom: 21px;
  background: #111518;
}

.footer-container {
  width: 320px;
  margin: 0 auto;
}

.footer-logo {
  width: 80px;
  height: 30px;
}
.footer-logo .logo-svg {
  width: 14px;
  height: 19px;
}

.icon-smartphone {
  width: 20px;
  height: 19.21px;
  margin-right: 10px;
}

.contact-link {
  display: flex;
  width: 199px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  vertical-align: middle;
  color: #111518;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/instagram.b424317e.svg);
  background-size: cover;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .social-link {
    margin: 0 auto;
  }

  .contact-link {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 29.79px;
  }

  .footer-text {
    padding-left: 52px;
  }
}
@media screen and (min-width: 768px) {
  .white-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .dark-footer {
    padding-top: 22px;
    padding-bottom: 21px;
  }

  .footer-container {
    width: 768px;
    display: flex;
    padding: 0 40px;
    align-items: center;
  }

  .footer-logo {
    width: 128px;
    height: 45px;
    font-size: 26px;
    margin-right: 203px;
  }
  .footer-logo > .logo-svg {
    width: 22px;
    height: 30px;
  }
  .footer-logo > .under-logo {
    font-size: 8px;
    letter-spacing: 0.18em;
  }
  .footer-logo-orange {
    color: #ff6b09;
  }

  .icon-smartphone {
    width: 24px;
    height: 23.06px;
  }

  .contact-link {
    width: 294px;
    height: 40px;
    font-size: 20px;
    line-height: 1.2;
    margin-right: auto;
    border-right: 1px solid #b9b9b9;
  }

  .social-link {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .white-footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .footer-container {
    width: 1344px;
    padding: 0 20px;
  }

  .footer-logo {
    margin-right: 290px;
  }

  .contact-link {
    margin-right: 24px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */