.container-wrapper {
  z-index: 2;
  //width: 100%;
  position: relative;
  height: 148px;
 // background-color: #fff;
  @media screen and (min-width: $tablet) {
    height: 151.5px;
  }
}
.section{
  width: 100%;
  background-color: #fff;
}
.wrapper{
  height: 545px;
  padding-top: 50px;
  @media screen and (min-width: $tablet) {
    height: 340px;
  }
  @media screen and (min-width: $desktop) {
    height: 560px;
  }
}

.features-box {
 position: absolute;
  margin-top: -203px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and (min-width: $tablet) {
    left: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -200px;
    left: 0;
  }
}
.box-wrapper {
  height: 488px;
 position: absolute;
left: 20px;
  margin-top: -340px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and (min-width: $tablet) {
    margin-top: -151.5px;
    width: 688px;
    height: 303px;
    left: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -212px;
    height: 362px;
    width:1314px;
    left: 15px;
    

  }
}

.features__title {
  color: $dark-theme-color;
  margin-top: 42px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 136%;
  max-width: 180px;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.box-list {
  background-color: $dark-theme-color;
  padding:  20px 14px 20px 30px;
  max-width: 280px;
  height: 100%;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 688px;
    padding: 30px 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1314px;
    padding: 70px 0;
  }

  .box-list-item {
    @media screen and (min-width: $tablet) {
      width: 236px;
     // margin-right: 20px;
    }

    @media screen and (min-width: $desktop) {
      width: 356px;
      margin-right: 40px;
    }

    &__title {
      font-family: $main-font;
      color: $accent-color;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 164.9%;
      letter-spacing: 0.08em;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        background-color: $accent-color;
        width: 12px;
        height: 1px;
        display: inline-block;
        margin-right: 6px;

        @media screen and (min-width: $desktop) {
          height: 2px;
        }
      }

      @media screen and (min-width: $desktop) {
        font-size: 20px;
      }
    }

    &__text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.08em;
      margin-bottom: 20px;

      @media screen and (min-width: $desktop) {
        font-size: 20px;
      }
    }
  }
}
